*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 700px;
    margin:0 auto;
    position: relative;
}
/* header */
.header1{
    width: 700px;
    height: 150px;
    background-image: url(Images/banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative ;
}
.nav1{
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 1;
}
.text{
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    bottom: -100px;
} 
.text-banner{
    justify-content: center;
    text-align: center;
}
/* nav */
.main-menu{
    list-style-type: none;
    display: flex;
    width: 700px;
}
.main-menu > li{
    padding: 10px 10px;
}
.main-menu >li:first-child{
    padding-left: 0;
}
.main-menu > li > a{
    color: #A36A6A;
}
.main-menu > li > a:hover{
    color: #127DE7;
}
    .sub-menu > li > a{
        color: #A36A6A;
        text-decoration: none;
    }
    li.parent{
        position: relative;
    }
    ul.sub-menu {
        display: none;
        list-style-type: none;
        background-color: cyan;
        width: 180px;
        padding: 5px;
        position: absolute;
    }  
    .main-menu li.parent:hover ul.sub-menu{
        display:block;
    }
    ul.sub-menu li.item:hover {
        background-color: yellow;
    }
    ul.sub-menu li.item:hover a {
        color: red;
    }

/* main */
main{
    position: relative;
    width: 700px;
    color: #A36A6A;
    z-index: 0;
}
.index > a{
    color: #A36A6A;
}
.index > a:hover{
    color: #127DE7;
}
hr{
    margin: 10px 0;
    background-color: #A36A6A;
    height: 1px;
}
h1{
    margin-top: 10px;
}
img{
    width: 450px;
    margin: 10px 0;
}
/*footer*/
footer{
    margin-top: 10px;
    position: relative;
    color: #A36A6A;
}
